// Scss Document

$color: red;
$border: 1px solid green;
$fs: 14px;
$ff: Arial, Tahoma, sans-serif;

div {
  background-color: $color;
  border: $border;
  font-size: $ff;
}

.test {
  font-size: $fs;
}

h1 {
  font-size: $fs + 10px;
}

nav {
  color: red;
  li {
    color: green;
  }
}

/* Описати псевдоклас */

.link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Щоб розбити на файли або на блоки наш стиль
* потріно створити файл сцсс назва якого починається на _
* та імпортувати його
*/

@import 'reset';

/* mixin - це такі шаблони, які можна створювати і додавати до елементів */
@mixin font {
  font-size: $fs * 2;
  font-weight: bold;
  color: aqua;
}

a {
  @include font;
}

/* також в mixin можна передавати параметри, ніби то як в функції  */

@mixin font ($color, $fw) {
  font-size: $fs * 2;
  font-weight: bold;
  color: $color;
}

a.new {
  @include font (blue, bold);
}

/* 2 ваірант, як в фуекціях ПХП можна прописувати знаячення змінних, а також змінювати місціями якщо сказати назву змінної. font - як функції ПХП */

@mixin font2 ($color: red, $fs: 10px) {
  font-size: $fs;
  color: $color;
  font-weight: bold;
}

a.new2 {
  @include font2;
}

a.new3 {
  @include font2(green, 11px);
}

a.new4 {
  @include font2($fs: 12px, $color: grey);
}

/* можна переджавати необмежену кількість параметрів, потріно вказати три крапки ... */
@mixin padd($padd...) {
  padding: $padd;
}

a.new5 {
  @include padd(10px 20px 30px 40px);
}

// Математичні функції, які дають можливість програмно реалізовувати ріхні фугнкції
// Наприклад можна реалізувати систему колонок з відповідним відтупом, ВИКЛЮЧИТИ відступ з останнього
// Тобто, ми можемо порахувати відтупи вказаної кількості блоку, відняти один блок

@mixin grid ($cols, $margin) {
  float: left;
  background: grey;
  margin-right: $margin;
  margin-bottom: $margin;
  height: 150px;
  width: ((100% - (($cols - 1) * $margin)) / $cols);
  
  // #{$cols}n - звернення до останнього елементу 
  &:nth-child(#{$cols}n) {
    margin-right: 0px;
  }
}

#grid {
  float: left;
  width: 100%;
  // > вкладені теги
  > div {
    border: 0px;
    @include grid(3, 2%);
    
    &:hover{
      background-color: darken(red, 20%);
    }
  }
}

// https://sass-lang.com/documentation/
// https://sass-lang.com/documentation/modules/color#darken

///////////////// УМОВИ ////////////////////////

@mixin grid_if ($cols, $margin) {
  float: left;
  background: silver;
  margin-right: $margin;
  margin-bottom: $margin;
  height: 150px;
    
  @if($cols > 5) {
    width: 100%;
    margin-right: 0px;
  }
  @else {
    width: ((100% - (($cols - 1) * $margin)) / $cols);
    margin-right: $margin;
  }
  
  // #{$cols}n - звернення до останнього елементу 
  &:nth-child(#{$cols}n) {
    margin-right: 0px;
  }
}

#grid_if {
  float: left;
  width: 100%;
  // > вкладені теги
  > div {
    border: 0px;
    @include grid_if(6, 2%);
    
    &:hover{
      background-color: darken(red, 20%);
    }
  }
}


///////////////// Цикли for while foreach ////////////////////////

$someVar: 'testStyle';

@for $i from 5 to 10 {
  .#{$someVar}-#{$i} {
    width: 50px +$i;
  }
}

///////////////// Контент @content - дозволяє розшити властистовсті міксена ////////////////////////

@mixin font_content {
  font-weight: bold;
  
  @content;
}

a.test {
  @include font_content;
}

a.content {
  @include font_content {
    align-content: center;
  }
}

a.test3 {
  @include font_content;
}





